/* when the page is loading */
.sb-preparing-story,
.sb-preparing-docs,
.sb-preparing-docs>* {
  background-color: #252A31;
}

.sb-previewBlock,
.sb-argstableBlock {
  display: none;
}

body.sb-show-main {
  transition: none;
}