iframe {
  background-color: #21252b !important;
}

body {
  transition: none !important;
  background: #21252b !important;
}

.sidebar-container {
  background-color: #21252b;
}

a.sidebar-item[data-selected='true'] {
  background: #004B70 !important;
}

a.sidebar-item[data-selected='true']:hover {
  background: #004B70 !important;
}

a.sidebar-item[data-selected='true']+a {
  opacity: 0;
}

svg.css-1g7lonc {
  color: #47b7da;
}