iframe {
  background-color: unset !important;
}

.sidebar-container {
  background-color: #21252b;
}

a.css-1suqz7c[data-selected='true'] {
  background: rgba(71, 184, 218, 0.2) !important;
}

a.css-1suqz7c[data-selected='true']:hover {
  background: rgba(71, 184, 218, 0.2) !important;
}

a.css-1suqz7c[data-selected='true'] + a {
  opacity: 0;
}

svg.css-1g7lonc {
  color: #47b7da;
}
