// Obsolete

$op-background-main: #2c313a;
$op-background-light: #232c33;
$op-background-dark: #21252b;
$op-button-primary-background: #434a56;

// New scheme

$color-grey-00: var(--md-sys-color-surface-container-low);
$color-grey-01: #2c313a;
$color-grey-02: #373d48;
$color-grey-03: #434a56;
$color-grey-04: #4b5362;
$color-grey-05: #576170;
$color-grey-06: #6b7685;
$color-grey-07: #99a3b2;
$color-grey-08: #d3d8de;
$color-grey-09: #f0f2f5;

$prime-input-border: 1px solid $color-grey-03;
$prime-input-background: $color-grey-00;
$prime-button-background: $color-grey-03;

// button

.p-multiselect-panel,
.p-dropdown-panel {
  background: rgba($op-background-dark, 0.9);
  .p-multiselect-header {
    background: $op-background-dark;
  }
}

.p-menu {
  background: rgba($op-background-dark, 0.9);
  .p-submenu-header {
    background: $op-background-dark;
  }
}

// Tables

.p-treetable-scrollable-body-table {
  margin-bottom: 40px; // to move the scrollbar at least a little bit lower
}

.p-datatable .p-datatable-tbody > tr {
  // even background
  background: var(--md-sys-color-surface-container-low-hover);

  // odd background
  &.p-row-odd {
    background: var(--md-sys-color-surface-container-low);
  }
}

.p-treetable .p-treetable-tbody > tr {
  &:nth-child(even) {
    background: var(--md-sys-color-surface-container-low-hover);
  }
  &:nth-child(odd) {
    background: var(--md-sys-color-surface-container-low);
  }
}

// table cell padding
.p-datatable .p-datatable-tbody > tr,
.p-treetable .p-treetable-tbody > tr {
  & > td {
    padding: 4px;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    height: 2rem;
    .p-treetable-toggler {
      vertical-align: baseline;
    }

    * {
      vertical-align: middle !important;
      &.material-symbols-outlined {
        padding: 0;
        vertical-align: text-top !important;
        display: inline;
        font-size: 1.5rem !important;
      }
    }

    & > th {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  --border-left: 4px solid transparent;

  &.changed {
    --border-left: 4px solid var(--color-changed);
  }

  &.changed-studio {
    --border-left: 4px solid var(--color-hl-studio);
  }

  &.changed-project {
    --border-left: 4px solid var(--color-hl-project);
  }

  // SET THE BORDER LEFT FOR THE FIRST CELL
  td:first-child {
    border-left: var(--border-left);
  }

  &.italic {
    font-style: italic;
  }

  &.deleted {
    .editor-field,
    .cell-with-icon-text {
      text-decoration: line-through;
      text-decoration-color: red;
      text-decoration-thickness: 3px;
    }
  }

  &.p-highlight {
    background: var(--md-sys-color-primary-container) !important;
    &:hover {
      background: var(--md-sys-color-primary-container-hover) !important;
    }
  }

  &:hover {
    background: var(--md-sys-color-surface-container-low-active) !important;
    color: white;
  }
}

.p-datatable,
.p-treetable {
  user-select: none;

  .p-datatable-thead > tr > th,
  .p-treetable-thead > tr > th {
    border: 0;
    background: var(--md-sys-color-surface-container-low);
    border-right: 2px solid var(--md-sys-color-outline-variant);
    padding: 0.5rem 0.6rem 0.6rem 0.6rem;
  }
}

.p-treetable-scrollable-header {
  background: var(--md-sys-color-surface-container-low) !important;
}

.p-datatable-thead > tr,
.p-treetable-thead > tr {
  background: var(--md-sys-color-surface-container-low) !important;
  user-select: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  th:last-child {
    border-right: 1px solid transparent;
  }
}

.p-datatable .p-sortable-column.p-highlight {
  background: var(--md-sys-color-surface-container-low);
}

// Splitter

.p-splitter {
  background: transparent;
  border: 0;

  .p-splitter-panel {
    position: relative;
    background: transparent;
  }

  .p-splitter-gutter,
  .p-splitter-gutter-resizing {
    background: transparent !important;
  }
}

.p-breadcrumb {
  background: transparent;
  border: 0;
}

.p-fieldset {
  background: none;
  .p-fieldset-legend {
    background: none;
  }
}

.p-button-link {
  display: inline;
  padding: 0;
  &:hover {
    box-shadow: 0;
    border: 0;
  }
}

.p-sidebar,
.p-dialog,
.p-paginator {
  background: var(--md-sys-color-surface-container);
  border: 0;

  .p-dialog-content {
    background: transparent;
    border-top: 1px solid var(--md-sys-color-outline-variant);
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
    padding: 10px;
  }
  .p-dialog-header,
  .p-dialog-footer {
    background: transparent;
    border: 0;
  }

  .p-dialog-footer {
    padding-top: 15px;
  }

  .p-sidebar-header {
    h3 {
      display: block;
      position: absolute;
      top: 16px;
      left: 0;
      width: 100%;
      text-align: center;
      border: 0;
    }
  }
}

.p-panel,
.p-panel.p-panel-toggleable {
  .p-panel-content {
    padding: 6px;
    border-radius: 0;
    border: 0;
    background-color: transparent;
  }

  .p-panel-header {
    border-radius: 3px;
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);
    border: 0;
    padding: 0.3rem 0.5rem;
    border-left: 4px solid transparent;
  }
}

.p-divider {
  .p-divider-content {
    background-color: transparent;
  }
}
