@font-face {
  font-family: 'Nunito Sans'; /*Can be any text*/
  src: local('Nunito Sans'), url('./fonts/NunitoSans-VariableFont.ttf') format('truetype'),
    url('./fonts/NunitoSans_10pt-Italic.ttf') format('truetype');
}

@import 'primereact/theme.sass';
@import 'primereact/index.sass';

:root {
  --color-text: #d3d8de;
  --color-text-dim: #8e9297;

  // these can stay for now but need to be removed
  --color-grey-00: #21252b;
  --color-grey-01: #2c313a;
  --color-grey-02: #373d48;
  --color-grey-03: #434a56;
  --color-grey-04: #4b5362;
  --color-grey-05: #576170;
  --color-grey-06: #6b7685;
  --color-grey-07: #99a3b2;
  --color-grey-08: #d3d8de;
  --color-grey-09: #f0f2f5;

  // --color-hl-00: #47b7da; -> --md-custom-color-primary
  // --color-hl-01: #fb9c15; -> --md-custom-color-warning
  --color-hl-studio: var(--md-sys-color-tertiary-fixed-dim);
  --color-hl-project: var(--md-custom-color-warning);
  --color-hl-error: --md-sys-color-error-container;

  // changed colors
  --color-changed: var(--md-sys-color-primary);
  --color-changed-hover: var(--md-sys-color-primary-hover);
  --color-changed-active: var(--md-sys-color-primary-active);
  --color-on-changed: var(--md-sys-color-on-primary);

  --base-input-size: 30px;
  --base-input-border-radius: 4px;
  --base-input-border-radius-l: 8px;
  --base-gap-small: 4px;
  --base-gap-medium: 6px;
  --base-gap-large: 8px;

  --base-font-family: 'Nunito Sans', sans-serif;
  --base-font-weight: 400;
  --base-font-size: 13px;

  // Buttons

  // --button-background: var(--color-grey-03); -> --md-sys-color-surface-container-highest
  // --button-background-hover: var(--color-grey-04); -> --md-sys-color-surface-container-highest

  --panel-background: var(--md-sys-color-surface-container-low);
  --panel-background-hover: var(--md-sys-color-surface-container-low-hover);
  --panel-border-radius: 4px;

  --border-radius-m: 4px;
  --border-radius-l: 8px;

  --padding-s: 4px;
  --padding-m: 8px;
  --padding-l: 16px;

  --input-disabled-background-color: #282c34;
  --input-disabled-border-color: #353b45;
}

* {
  box-sizing: border-box;
  // body medium font
  font-family: var(--base-font-family);
  font-size: var(--md-sys-typescale-body-medium-font-size);
  font-weight: var(--md-sys-typescale-body-medium-font-weight);
  line-height: var(--md-sys-typescale-body-medium-line-height);
  letter-spacing: var(--md-sys-typescale-body-medium-letter-spacing);
  // color
  color: var(--md-sys-color-on-surface);
}

html {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-background);
}

h2 {
  font-size: var(--md-sys-typescale-title-medium-font-size);
  font-weight: var(--md-sys-typescale-title-medium-font-weight);
  line-height: var(--md-sys-typescale-title-medium-line-height);
  letter-spacing: var(--md-sys-typescale-title-medium-letter-spacing);
}

h3 {
  font-size: var(--md-sys-typescale-title-small-font-size);
  font-weight: var(--md-sys-typescale-title-small-font-weight);
  line-height: var(--md-sys-typescale-title-small-line-height);
  letter-spacing: var(--md-sys-typescale-title-small-letter-spacing);
}

.material-symbols-outlined {
  color: var(--md-sys-color-on-surface);
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 20;
  font-size: 1.25rem;
}

// Scrollbars

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-03);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;

  &:hover {
    background-color: var(--color-grey-04);
  }
}
